pip install django djangorestframework
python manage.py loaddata main
pip install python-decouple
pip install tweepy
#mkdir -p ./frontend/src/components
#mkdir -p ./frontend/{static,templates}/frontend
#cd ..
npm init -y
npm i webpack webpack-cli --save-dev #webpack and webpack cli
npm i @babel/core babel-loader @babel/preset-env @babel/preset-react babel-plugin-transform-class-properties --save-dev #babel
npm i react react-dom prop-types --save-dev #prop-types
npm i weak-key --save-dev #weak-key
npm run dev #run webpack
npm install --save-dev css-loader #css
npm install style-loader --save-dev #style
npm install --save react-router-dom
npm install --save react-router
npm install --save bootstrap # bootstrap
npm install file-loader --save-dev
npm install --save react-router-redux
npm install url-loader file-loader --save-dev
npm install --save prop-types